<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-09-09 00:06:52 +0000</string>
	<key>Creator</key>
	<string>Lingchen Zhu</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{208.5972814672603, 118.55203415275963}, {19, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>64</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{117.64705679281491, 205.73704742865846}, {17, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>63</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>61</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
			<key>ID</key>
			<integer>62</integer>
			<key>Points</key>
			<array>
				<string>{216.28958902679048, 144}</string>
				<string>{144, 144}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>61</integer>
			<key>Points</key>
			<array>
				<string>{143.85245564290838, 215.99999807532913}</string>
				<string>{144, 144}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledArrow</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>ShowsGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/latexit/index.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGeXpYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QGQcIDiYnKzI4OUBBSUpNUFRYWV9i
			ZmltcXZVJG51bGzSCQoLDVpOUy5vYmplY3RzViRjbGFzc6EMgAKA
			GNwPEBESExQVFgoXGBkaGxwdHh8gISIjJCVXcGRmRGF0YVpzb3Vy
			Y2VUZXh0WXBvaW50U2l6ZVhiYXNlbGluZVhwcmVhbWJsZVd2ZXJz
			aW9uXxAPYmFja2dyb3VuZENvbG9yVWNvbG9yVG1vZGVVdGl0bGVU
			ZGF0ZYAEgA8jQEIAAAAAAAAjAAAAAAAAAACABoADgACAEYAXEASA
			FYATVTIuNi4x0igKKSpXTlMuZGF0YU8RMl0lUERGLTEuNQol0NTF
			2Ao1IDAgb2JqIDw8Ci9MZW5ndGggMjkgICAgICAgIAovRmlsdGVy
			IC9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeNor5DJUMABCCJmcy6Xv
			lmuo4JLPFcgFAEosBYMKZW5kc3RyZWFtCmVuZG9iagoyIDAgb2Jq
			IDw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9Gb3JtCi9CQm94
			IFswIDAgMTkgMTddCi9Gb3JtVHlwZSAxCi9NYXRyaXggWzEgMCAw
			IDEgMCAwXQovUmVzb3VyY2VzIDggMCBSCi9MZW5ndGggMzkgICAg
			ICAgIAovRmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeNor
			5DJUMABCQwVdQ1MFXSMjC3OF5Fwufc9cQwWXfK5ALgBsuwa5CmVu
			ZHN0cmVhbQplbmRvYmoKMSAwIG9iaiA8PAovVHlwZSAvWE9iamVj
			dAovU3VidHlwZSAvRm9ybQovRm9ybVR5cGUgMQovUFRFWC5GaWxl
			TmFtZSAoL3Zhci9mb2xkZXJzLzJrL3lmdmNuMXduNmtuN3BmbXZs
			cnlqeHM2bTAwMDBnbi9UL0xhVGVYaVQtMi42LjEvbGF0ZXhpdC0x
			LTIucGRmKQovUFRFWC5QYWdlTnVtYmVyIDEKL1BURVguSW5mb0Rp
			Y3QgOSAwIFIKL0JCb3ggWzAgMCAxMTE2IDIzMDhdCi9SZXNvdXJj
			ZXMgPDwKL1hPYmplY3QgPDwKL0ZtMSAxMCAwIFIKPj4vUHJvY1Nl
			dCBbIC9QREYgXQo+PgovTGVuZ3RoIDU3Ci9GaWx0ZXIgL0ZsYXRl
			RGVjb2RlCj4+CnN0cmVhbQp42jNUMABCQwVDEz1LExMFIyMLMz0T
			heRcrkIuYz0zsCSMBgsaQtVDBfTdcg0VXPK5AoEQAB3nDqUKZW5k
			c3RyZWFtCmVuZG9iagoxMCAwIG9iago8PAovVHlwZSAvWE9iamVj
			dAovU3VidHlwZSAvRm9ybQovQkJveCBbIDAgMCA3IDZdCi9Gb3Jt
			VHlwZSAxCi9NYXRyaXggWyAxIDAgMCAxIDAgMF0KL1Jlc291cmNl
			cyAxMSAwIFIKL0xlbmd0aCA0NgovRmlsdGVyIC9GbGF0ZURlY29k
			ZQo+PgpzdHJlYW0KeNor5DJUMABCQwVdYwMjPUtLSwVdM2MTIMNC
			ITmXS98z11DBJZ8rkAsAp24IYwplbmRzdHJlYW0KZW5kb2JqCjEy
			IDAgb2JqCjw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9Gb3Jt
			Ci9Gb3JtVHlwZSAxCi9QVEVYLkZpbGVOYW1lICguL2xhdGV4aXQt
			MS5wZGYpCi9QVEVYLlBhZ2VOdW1iZXIgMQovUFRFWC5JbmZvRGlj
			dCAxMyAwIFIKL0JCb3ggWyAwIDAgNjEyIDc5Ml0KL1Jlc291cmNl
			cyA8PAovRm9udCA8PAovRjExIDE0IDAgUgo+PgovUHJvY1NldCBb
			L1BERi9UZXh0XQo+PgovTGVuZ3RoIDY5Ci9GaWx0ZXIgL0ZsYXRl
			RGVjb2RlCj4+CnN0cmVhbQp42jNQSFcwUHDnMoDSTiFc+m6GhgqW
			epZmRmYKIWkKxgZGeubm5gpmxqZ6xoYWCiEpCtEaFZqxIV5wTTDa
			NYQLAI/uEGQKZW5kc3RyZWFtCmVuZG9iagoxOSAwIG9iago8PAov
			TGVuZ3RoMSAxNDE2Ci9MZW5ndGgyIDYwNTYKL0xlbmd0aDMgMAov
			TGVuZ3RoIDcwMTYKL0ZpbHRlciAvRmxhdGVEZWNvZGUKPj4Kc3Ry
			ZWFtCnjajXcHVJPb0jbShIBSRRCQqMChk9Ck9947IjWEAKEkIYmU
			UKR3lN6bdJHeQQSUKiBKEaWDFCkqSu98sZx777n/v9b3rayV7D3z
			zMx+9jzzrjcct/SN+BXskXYwVSQCyw8WAEkClXR0NMAgIAgkLAAC
			CQE4OIzhWFfY33YAhykMjYEjEZL/gVBCwyBYvE0ZgsUDdZAIoOYD
			VyBYGAgWkwTflQSBgEIgkMTfQCRaEqgM8YDbA3UEgJpIBAwD4FBC
			orzRcEcnLL7O30sgF5QbCJaQuMv3Kxyo4AZDw6EQBFAHgnWCueEr
			QiGuQCMkFA7Dev8jBZe0ExaLkhQU9PT0FIC4YQSQaEdZbj6gJxzr
			BDSEYWBoD5g98CdloC7EDfaHmgCAA2jsBMf8dhghHbCeEDQMiDe4
			wqEwBAYf8gBhD0MD8dWBRhraQD0UDPEbrP0bwAf8czlAsAD4X+n+
			RP9MBEf8CoZAoUg3FAThDUc4Ah3grjCgnqq2ANYLyweEIOx/AiGu
			GCQ+HuIBgbtC7PCAX0eHAFUVDIAQPMM//DBQNByFxQhg4K4/OQr+
			TIO/ZhWEvRLSzQ2GwGIAP8+nDEfDoPh79xb801wXBNIT4fP3zgGO
			sHf4ScP+AUrQBAF3fwDTUP6DwZsA/7Y5wrBAUZD4XWFxUSDMHQjz
			gjoJ/ixg7I2C/XKCf5rxHPx8UEgU0AFPA+YHd4DhfwA+GIgHDIhF
			P4D5+fyn4587ABgMtIdDsUA7mCMcAfh3drwZ5vB7j+8/Gu4FtADh
			5QcGgn5+/rWywivMHolw9f43/FeLBXXU9bR19Xn/UP6XU1ER6QX0
			4RcWAvILiYKAYJCIOPAufuH3zzz/uoG/2f+y6kPgf073Hxk1EA5I
			4M8SP1ngr+9vJh5/pMH1Z264gf8soYvECxoG5Pq3/i1BoiAo/gv8
			f56CXyH/P/H/zPK/6v+/T6T6wNX1l5/rN+D/8UPc4K7efxB4QT/A
			4odDB4kfEcR/Q81gvydaB2YPf+D2314NLAQ/JAoIR7zQ+cEiAiCR
			33Y4RhXuBbPXh2OhTr/F9Hc38DVc4QiYPhID//ngwUeBQP/lw88e
			1AX/cMHge/bbBcHgBxH7q70/9zD8qP3zHCoIKNL+50wKiYoBIWg0
			xBuAlwR+Jwr0AeOH1x7m9UvzQEEBBBKLDwHiOfsBHZBowM9Gg4VA
			QEGvnzbAP/JCH6DR+MK/BIEv+vf+1+DDYF4wKGByAgmVCnGuDWk7
			rFZg9uRfGZYm2Uo7vCfEP1xoTYbtURm1WUwwys6a0ipTnewGq1o7
			d+gquh/mzH3Y8VmuY6v3FtnnZ1Ndc2Szi5u42L80nuhzwHJ7gqqZ
			4IlZiuJNyRJ0D4E+azR1J7mcvWOPEQeV71+1XR8TPTnpS1Xvaoa2
			6bZ3VpdmaTOwSJh++WSIbbHrN14R3WX8K/eT2+PgpRjLyFTdjNta
			0u1HgATPKuqFvoH+GZpu1pfRgZoeQSvf2cOwNCpS/SzKIperTGfy
			r57mlnhsZtD62KnRyW/a9zyb5045rNXddlre3rS6xZXUedfJNskh
			BvwFd8RKg5qhV0xD5xWsRtlP54SzETX1ySYeYEy70uHqr+YqPrG6
			aIaHanlPjXeNLJw+0ErVsHjbG8LFp5Mgc16+/MWvgeNFrIdDGGHr
			X9UpNMsqvAxZ3Bt+DsH5veyu2TP7XKHjZkIW4mlObcayxTMSIa0B
			92iEha94wNMqTa4KNnzuu1xkvu+DEznP32lvV+Sccq+KRsTSxuAW
			6mZ8MwqfHG+BBV/XQ9NrYpRwnm6L+75VXotW2n1uyCK/Clybm+jX
			hQ80j2KQkkC2nKcbHVEhsYwCrZG3K6aXuiP2bpYTxtkTlOrmPTve
			DWR404tsIxAGeJQGxhxv4s42CTOAugBUPY6kTP+alOloh6NYX34P
			BaHsJN/FD9nWVL0ATRE3BdDQmaFw40QLD32/TztvPkPrMq0EzWIo
			/MHKW52kZT15Kic/frpprkdXgugN+oPXEx7HtCks7LbkRnOP1TCP
			f6VsK5UJJBOQePo5a3NX2JH5xk6WzFU2i3Ybtgu7C6TNte+KLKaF
			88e9QYOXG7fNbrN9ZSJcbszOfLUA2V5H3lfF6MVzhyQVcmzZC223
			eMboPq8YU5fdU/bb+042nR3fY558te1rfQ3Y+X5lsGPpVdIOsF17
			S5ZmGcTXtt0ptsTuIfdLT/PgLagFJ8g56XvtPYK73oeOALo0Jyaj
			ptB8TpKHfrSoc/7RDYcJayDkZMIG0MPsKoIzXd9ZQxjuLHSw2sTC
			5KvqeAhxvinxyWZwgSaJIe5HfemZimFGj+Yxwm8fP3bJ47OOsUvI
			+I4bbCGDUAyGitgoki5t0JHQzpz0Dh+Dt3hHpmjGLlF9MWuoFRpA
			IbOUT7KeRRK1e8kOOHxQrzu2YLMyVtl/6Zxh2B/lL8h7QrG8zLAB
			zEijnnUVX8bdm0lA1e7mZmar3zI9mAm0b7zVGCBlL5JfYFxENSkq
			ybd07EF/B6r1mGdmQooX9/ba5XsxVbS4Ky7A64UGY/OePbIQ9147
			sRVwrMZxy7AWNWeoHOzd+4N4mYgNh5ZG6e/OWqePxthdml335zhs
			dt3YrajTJZb4u4PzVq67QLQHH96YOUozfqsP9nkXSHeDHpEX+eh9
			juqUj53xi6E2B9KwT1/zKnwitUc3OSM6OwED97IllgaKF44PvjXM
			y8oF0k0t1xvnfexHfjP0zBhblASE38yEtWwBBLfJI1vXWFleMjJ4
			n3xtvuoXkheOXZ26lx/cevtuwLY7NmTB4divk3Z1JIm7Okyc2Mhw
			7F6y93Va6SxMvZBzsp5122JwKzVHJ+Vjk+zW0AUf2fFYwbzyqqdK
			bsj5FdAwR7nfE9T0dfvPPk4MIrJRtFGXrT2Vi7/Lwwx27a92E21A
			4PbmI9YL8h0NcmQoSriwFEttoGJPiwIr7OTkZt/uHiXRyO0KLej6
			qg0AsCt7+vrUGDkiU8jDQtf8evDYuzBg8g6KjpQ93WSYBVIcUBuQ
			LWogdF9YkjG7iblf2lxtxAd8eAE11WCqJhLjskHr3D6MxIbaBwQE
			z5bpboYJWUHhkMV9kZ0LmS3WN+j05x7e01VO1jwv1bUma3wtdz+a
			R3rSNdzQ2SwQ5uNp6I7yEPUTKCuSKL5enXtbDNJWT3MVZr6e4RdH
			JPZUyE8rGPTNxrSaYfh5zOXpIcESsU7/wUjQtotiQkTvues3Wc+E
			uXsb0p/UzWOre4m9PGhf0PkFLKvys2fezrSjv8XVgHNRNjC0w0rV
			9V1ddy5s7s52oVjWZdoXqRgjFTlK352vm7lwVuDJtHUcDTcoq6kl
			5yr+LDUYWG1wxYQtRAllt/ZGXuqwS4lAArbOqWrBFQ3IPw09ijsq
			lhtmjEUTRH1Na2u12a0MvUwz6qBHZjb3jnCpNLf0wRFo9iA+1kUw
			oZKzSnSP8vVo6VHD+4/kgTX889rmpvfL7L6I3MuxGAI9GHJmkFUZ
			d6kNqL11r6dTO6698fBJX7xJavV+5hJQJ9z12FidpR8xeu6d2Q0z
			6e29OMWEKhDPZEUhQ4XZhn2t2IBVVunLq8y4lsBZ3UrO5BtJau9N
			wPINYQKCEoRSfSMalzbequKS2IvbA0w+CmoRErl+cBDzcl/IYyX3
			BtR6+tUEqasL1vFwHE/bJbskVp2a13gjvd41Old+S/UqqDV6kUZk
			6d3Ajbgu15pjuhak2ch084iUl62f2QUSmmfBgJsZckirCaBN/eCg
			wTNr4cAkQ6hDyyA8xs3R9uNpJXWie1llox4XSYcl//1bMUw3czY1
			uwDq3Cxog/24BlYD0f2Ch8aMdtp+grLDoi60XxgPZAw88/XO7zKI
			nkbcYZZM/sCXb2LDoK0vF9/QN3BdV6ly1Uhn/z186/2VKdnkqzS9
			bw8iVihXfgjzfHC+Y9aVrbwhvhbNvj3mu51zq0k1an5gKKr5/Mb6
			lHailM1DgL1BiqYGe2NrSpd5P9dHRgY3Q/c1uoMCTQvGBH+HCWoi
			Cb6UZ2J1n67bgI8Lxvw9gRTPN5+yGPGRyIEfywWTUexMKIz3zHu7
			cgUtaV9qeYt9nsdGtGUSR/vtyxp5J9MzN/lRHoaTOGN6ibhplRbC
			IjM9R/6plImXMVTV6uuoVcarEHXSm7fJLHGFZ6+oBUfHboaoOJuS
			+GSDI3fAQ8HGNcmm2mejot5mWr64gNGdpdTvvlON2MuFzor266Gm
			MpW4SeGpTuMJTf+2VYva9obz98K2Zx555ygEOtiEUsfUrCxzX+Az
			nTk/di09bb26olYIl/3+R3xIEUE4QNpIDAtucO2etX1ul7EaRZDb
			SqCxyTDCasOdfT99Z9wGRq1y1Qh7pcgEKvrljdKifHQQskeUus9L
			W/lNh0JaVOPDsx7dYtZ3hmRA7eivWQ69XqtCylwpQUOIvNqpiaxp
			+Exs2duRpzGYK12TbbHBn44F0HNk1UQ3d1QsnvITlZ81fdm7uhZc
			Goh7kbLyGF1JQrWxMMpepFhGoU0oGBX3WbJZkWEPODH3gTNAjTln
			dBj8QAxkhbENBCTsJvtmtCZy1TCI5M6XcK1/V6w946dxaXvektOb
			4lK0uHvyXOtmpVv0rPycTaHCX6sfOu+3jnXSkvGxG8LI3caVLYgq
			YjtjUf6D3yu/R1KQ3ptJVDgTd1PATe59ziK2b9eVur2c7s9IOpJQ
			2o6ab9tPvdbMpKRWfDUgUfddbvWj7nlfKaDW5W9i1J0K8wfjfba2
			y+3OkoIUhNcJ7tc9Drg4Nynm4DkWY7b8uNOouLqYOBUvPbCxoh/D
			jiJyrgjo7F337MKG8sJL5+CVhZpl4zlNp+PAFyZFPYPfMWvmrdnO
			oX75AMtXWHWljctbA0c30wUByosrwOcD5D5wWPcSZTpRufSTKub2
			jbdnvq8EfFKh1eGuh6BHBRFcJQxTD5XI0ni/vWFpZpm833yOYgdy
			/qCGlFDVs6uUJaiqx7oRcM9fnysUJinHzhuuwDNd2UEcXi63zpTS
			JQMk1j/bDPM/93Px1x6R//y1/NWVQTWZbutnTh83uF2qMlvg5OJ2
			Y/GH8hjr64deahcC8WFkVJuMegdhGfejvzlXLanSG8+0vbvCxw7Z
			Cr5hOF19jHFIqi8o/GjpFgB1ASNreFcfkoUPrc4TB7xU2Qi324rm
			U6p03+niDDu7R7epUZDZO55GjH5hOd34Kuj1xacTQxjS1iNhsRVt
			fx0l9+XteGVVlsN7peFrpDVPJ1rMSPZRYeM7LqT5wcP9Cnls1FyT
			VjrLTB9oqMip6fdn4qwDK0be6yXXuM6+fectw7Jbao0TVYkJZMKx
			nwcNQr/OgQZdjKJQj18ofCd0KkFjKEJfRNiSaL5JPHeJbmsZUlNx
			Gudck7sWHAosoFuoZLZNzl6Sl4i+lYa0lNdOhBinWhliKb5Q4Tqq
			/rrB8/LARCqMX2XkxkpoIvK5sd2n2Q7R5aqmjtMXQkntss++aHm5
			C3cVLby2wZawVmSux73zHTH7wBEBKhiSWVWJl69qTRLYErJeQNcV
			SeZysarLlsPWpvSHZuvGpaoOPvZ9eBLi52aWtc7/o0FnUWEYh7HF
			2PnF5cRMnnVhmuXpbRIxbYKEqTlLqhEdIVR6CSqvnqW6fouec7JU
			s7W7tA+5KV6Y0cTONbfdb20iTFflnlE/vre1tKNEcvvZhUdHdPOe
			8zkNQaxcWu7xzKAC61jTqqhAKUay3aqPWUpdqDL0Ra2ca0d9LZSe
			dvmcQL/oYPcWjKxgeoMfC370UfCGYF+8nXRYcuLMmcuJ4IrPPOn6
			SBIycziPLuTxm16ipS9F4mocNJGo4bbXm71NOj8kx5KPEWev2KFG
			AZvMorfKEnJaQclRn6bkQ2+lNPovK5OP3RGXonz4ZLv+YgdDzJpr
			vVEt46j0PT++PnBW7mht8wPuslSsjVViG9of/19PPbEqUhB7StG1
			syam9PSumuOjlrSj18ySVEeKMhLse5d/9G0ysmfyNInF7x33O6Gp
			9m4Fk7PByqXWBq8GjJr1CJTa+x+onYNU0haHyQkK5+TBy41FsV7w
			6ijTMnfK+KHmqmdJFdQTqM+OhbqXPL2t5icss2YwQu5u387lcgQ+
			Fmk1Hu9L+eztGbeIBFGHdea+elyim781Tr1A2u6yudBtv+D1UsNJ
			RaYvuCSiyCrBCg00Tuj0u9L6TSPo5Gum0CxT5Z0rReHE6ecbPRbk
			1amA9wnQB2feLSaGgS4LRHH4N5KGgUjmZ28CO8JCfNvu6Y/nmb7o
			4VrHzY1suPl4vHjUpYvlyR36kQGlJlBOrxm6kUBhI4V1GZ/jz8ze
			EGHlKClpJFEtPdpKZ6I8nP1ae+MSkYJeLldlGOa1Qw0H18wJalh5
			Wv22ECdJGj8qikJry7860m5pV/iWzAOVHYP1pFQyrk1laak65+ru
			gabj+UmNlSMhDD1rfuP8iUK9Y5ha4htdo74oaK/Q+GnrBzStQNjs
			0t33So+slRTzFqPXqullZtFxI7Yp2/RZru4VXEJWsx3pujDmbK21
			JFAd6xe5klEUOOXgB4V1bNr2VfprNLb6/kYXbDJasxdyKkerWsyZ
			mZx1vDuRBWhLdiFydosPMYJeEyjhdoLNT+YmT8rdg0kaeAht89DA
			pwcKFBWJJuK9fT3IOB4UhpLl6IpK0b6rS4mdPMKAd2dIyjA+BpGT
			ECnk/TasiiFkstHv5vM1rfWPWqbGwXeeid9YjMlJRqlItnsOZOeM
			MKhAaSkSc7vKu2Q09tYjSzT7bL+/TrrHbei1NZewHkfU7UUuOiIw
			5VR6h6xVWZ1pI3cS1E8IbfB/2cKgWUS5FNa8FVgk6U7M0Nvv5K01
			W3+uKiVtfpH7LvTUv8t3+1nTPPk4Dd2usSC646yYrWpLodtuo62v
			oP5k2bWcwxW3C8qA+GM+JyrrK+mKaFk2zm6vyqnc+WGIGD1Ivr2x
			6HJnNnc3Qd4o79hXk4L7YlfdkpiZlN6PL2nUw0ROWZo7YDBly6ow
			86zwW/Lz7wnln+bW1d710bxMJCFoyjBmX9PQ2V/0jibIEGcQEdRh
			9a1u6riTK2MrdqOXhJAkHnuFbljcZeAmPH+NVNruKDkrt+USYCmX
			MYL3ppTMlUxitemHD3Hi1HeN0CjOsFr2SJe95TfyS2QNxWnREJ2A
			iFcp1+nvDNTCfE/Sdu2qPt1Mp6DEaoeLj9SAUgcifN+ObbTr3eSe
			d3+3Qq2ajCVP0cslLJDxqi1q7SGJnrrysdhmtUfmIpH6jDe1alRP
			YiVMwW+I8YklxaK3NRWfjJdNzMtnJiTPH3fOPxHTIwt3VpxaEpcL
			lQv5vKJM8jyWIJ7F4tGut3LSZMdlN7NimzsJdtGQixRfT24aDdsF
			qoouOATiC+nFvOAX0Mw2Rt0W7leQ51z1ln/xleHTWJAgKWkoYWcK
			UnD/MXbkBoUXRfLOHu8QA8/dxi31tzaHBtK7jGAPjF5AS7Dxpbpp
			l/eiqfb3MMcp6o9qgu1dzFB3V9y9DUel+24uelHI7PJneUQQn6q9
			pferNm/5hoOmj+9WveXnhhP+cDOdmOcq185IWTJzjH566Rw9LCNY
			Q9XBCVY19lOx+tEm/GS+xIiDhVOn2Tu2wFypMInc7mipuTiWl1zB
			85pWAeDgBZClIj6LvEBFbJnV1QwdLk0qcn6oM2Bzw8o4It3/rzSP
			KtYTOQNvgPNC6LucwsWkhy8p0nz5q6Ha1MQhu/XGxDS533D+/TQ0
			hFkXzNrHN8LujhdVqPHe7xzMVYypmY/q2JBpJuPhHAo0vvtM3P9h
			eNydtNGF3g7X5FfibNca2Wp7XjQ7aZ40Fb/MY8nnco69sFvhYZDx
			xcYw80FHE0G0PSDXpq3q+jcYadNWT4LyPvBo0sETNh62x6pMwdup
			/KVd03VHNA9xSNHg/qKZZ3X25UTUKg8TTwY4u+iDPpL2lhQePtRu
			EZAD1c/yv1+aMrJVoiQIuusOM84oZCiRtiuiQKGwtU1zo9VYYzM9
			2zCW0e8iAnpe7F4JXp9pfjw6vNfMlFc+6CiupUZv8w1UdytwArmL
			KzYL/j40CJfsIzVr490mTtWqa+s4nTAm9vz8FOMeblze7hQkhp7a
			2NZO5JQ0M4/qbkuPBy45lhU2aNvLxkSGE2pdzrwifyL83vKbka6k
			+JMChr8cideL58lM5Oa4l8cN7ThGTqaQMU0BaWuyUWJXlrr7/LnT
			yPUSAM+e9t3zFH0jeHtw0dclvZQLxsQuyDin+axdjaJ5IfFm397L
			HBaQzh7yjhNqxHido3t75RK/YR6XbBHP8DH5aOmXfiHRCKe2ta1W
			Xw0B0QcvbQ30Cw4mgrhtfzxNNTDoa1znOr18IJIoyphcZ10SPBcS
			RK8zX4WMYCUTVeOxlXtjqKpTemWhK+D8/ZDj0qMNVKfD1Dwhguic
			oF20F0xlX17YEv9Vq3uT1kIb4N3sTl6v2NnI3iX/F1PEgNj6LbPN
			BcBw3LHKtcZejZYtsUO+Ew3jl+zhsefD3pmT4d8SL6mnoOAtqxem
			UKccK0ZXzun5J6pds5Itr6j1CtfZ7/RHkd1SliwliKYhCOXgJrxM
			D2FcytTxSjzr77tto516LMfyyp6W51gyfAK0JWR114vrS6sIiqJS
			X7yNh0WA2EOUNQczaCe996jOStsgDLTFc9io9TX5A2+TvCxMgH8K
			WTb2eO1ciamSiYo45UlvgOsA9VbviKU/kyHvNXaPLmSKclH6lGPY
			PNm5d+DRRt4ahC2C8rOyLgK9xrM1tF+Jy6t0OgyePLQI5Czu4Qzv
			vFgdP3UXqIweOGTtmH1XFH69e7hos881ydRLeM84u4xyn0PbDneD
			1M4IN1YvjZSMe2/0AuEfch3u6asvoPP+JPqa0g1IRSbnG3jDh9Ha
			cI/Luj4+mxxT/BYxSzn8aby5LbQCSHmWqQztR1XD/soRLGOor1hu
			hdyU7csPGhtys0blCUXGkHvM5d2lG/SDi/kUZMASjvmPA28Ee0jV
			Gd8yp5xDuDFfU1FjE7xD+skKJrgPCTNG0e0/tiNDnseUyhzSndkS
			fwPcpXLvv6qOk72f/ARErCTd3gY7aIcru2aozZJJqe1N+a3vQpRS
			cgGdyxVPno6/W4ffV4I8NharQe+feknEAPtmvhbTMWsR0xWnt3h+
			5GECPS5TDlGMdPW2fbJ+wvhD/3zLVOFiG47+cr1s0hPz/WGVTrq1
			sE6kljZXtGIj5QM6mYVJfoj2Hl/SJuGslQ0lBTIr6HSarDKHhe/Y
			91oNG3978bStpPno6+dVNP0gG9zXaww+4FWZKTa+EiXDRAeTL5Zk
			qisVTeEhe+2Re++5jOKlwjivqn7prB1BDV8y/8EZVjNwpbxDkkyD
			9e3Ey6ld8WISAbITszCqphJMF+W5uvimxr18hX0qPuKX/wNrRKKT
			CmVuZHN0cmVhbQplbmRvYmoKMjEgMCBvYmogPDwKL1Byb2R1Y2Vy
			IChwZGZUZVgtMS40MC4xNCkKL0NyZWF0b3IgKFRlWCkKL0NyZWF0
			aW9uRGF0ZSAoRDoyMDE0MDkwODIwMDgxOC0wNCcwMCcpCi9Nb2RE
			YXRlIChEOjIwMTQwOTA4MjAwODE4LTA0JzAwJykKL1RyYXBwZWQg
			L0ZhbHNlCi9QVEVYLkZ1bGxiYW5uZXIgKFRoaXMgaXMgcGRmVGVY
			LCBWZXJzaW9uIDMuMTQxNTkyNi0yLjUtMS40MC4xNCAoVGVYIExp
			dmUgMjAxMykga3BhdGhzZWEgdmVyc2lvbiA2LjEuMSkKPj4gZW5k
			b2JqCjYgMCBvYmogPDwKL1R5cGUgL09ialN0bQovTiAxMwovRmly
			c3QgODcKL0xlbmd0aCA1ODQgICAgICAgCi9GaWx0ZXIgL0ZsYXRl
			RGVjb2RlCj4+CnN0cmVhbQp42uVU227aQBB991fMW0Ct7Z31lSqK
			FCBWokCCAkqRCA+LvcC2xLa8JqJ/31kbRJNWygdUQjIzO2due876
			wKAHcQSI4Hkc0AMvRkAfQh4CBhCFZIUQRQwwgl5IITH0oghiQMbR
			8ugTIZgEHIFTFIaedXlpubNfpQR3IjbScgdFXsu81hBQvSfLfZK6
			2Fep1OC1jrHMlOgXB1gwcmCPii0tAleEouQm5uqqSTupimyfygo6
			ZbaeybmNjs8c9LtUpZKiLuiE3CdTFflQ1BI6w2+coc96LOaMxRjZ
			zL9g7ILixkX2WcisEmUpM3ATsdM0z2R2M3eS/W63EnluepltlQb6
			tT19hWdZaSoNHnWGQY+HNneCU6vwYjqEkXqTtDH0XrrwsxT1VksB
			b0dg6KCD3dPQ88fVD5nWYP7fvdKN8NNKzD7Sqaxh4U6GyfK/3lLL
			uIS4ZrnT/apuTONEy01UpevBVlS0O2a5I/Gn9V1llNfQvSGjyTCU
			Oq1UaRZF9G/cfaGlOTJCaBw3eVpkKt8YSRyvYwFBhE6w/NDPOVub
			/UG80sn49nH0MPkyGI/vkLpIdmKjwW8j+o0YwCZN2jwgSTA/hihg
			pIprnTaqCAgzEOWtVJvt0TR1zJmBEFNqsVPpdb7ZSbCREk9r+foM
			EScczW5Y03EP3bZgoiiKhHfi1fvmzuOchqZiar2WJFAj44VZpHtY
			/k1YaAlr8sI7voIhLPwTkRCCf4o4PzDavDB7czOWe68yasc36A+R
			A0H7KDZWCzm/Kr8B74dXDAplbmRzdHJlYW0KZW5kb2JqCjIyIDAg
			b2JqIDw8Ci9UeXBlIC9YUmVmCi9JbmRleCBbMCAyM10KL1NpemUg
			MjMKL1cgWzEgMiAxXQovUm9vdCAyMCAwIFIKL0luZm8gMjEgMCBS
			Ci9JRCBbPEE1QUQ0QUM2MzY0MjA4NEE1RkIwM0I2OTEzQUZCNzUw
			PiA8QTVBRDRBQzYzNjQyMDg0QTVGQjAzQjY5MTNBRkI3NTA+XQov
			TGVuZ3RoIDc2ICAgICAgICAKL0ZpbHRlciAvRmxhdGVEZWNvZGUK
			Pj4Kc3RyZWFtCnjaFcnbCYAwFAPQ5PZlVXAFC47kNi7iHk7TP6GD
			aO7HIQkB8JEniAuGPIv6Brbhe5EqpHXfxvB4BomSJEuRian4t3J/
			wePGD1REBvsKZW5kc3RyZWFtCmVuZG9iagoKb2JqCjw8Ci9FbmNv
			ZGluZyAvTWFjUm9tYW5FbmNvZGluZwovUHJlYW1ibGUgKEVTYW5u
			b3BFU3NsYXNoZG9jdW1lbnRjbGFzc1sxMHB0XUVTbGVmdGJyYWNr
			YXJ0aWNsZUVTcmlnaHRicmFjawpFU3NsYXNodXNlcGFja2FnZVt1
			c2VuYW1lc11FU2xlZnRicmFja2NvbG9yRVNyaWdodGJyYWNrICV1
			c2VkIGZvciBmb250IGNvbG9yCkVTc2xhc2h1c2VwYWNrYWdlRVNs
			ZWZ0YnJhY2thbXNzeW1iRVNyaWdodGJyYWNrICVtYXRocwpFU3Ns
			YXNodXNlcGFja2FnZUVTbGVmdGJyYWNrYW1zbWF0aEVTcmlnaHRi
			cmFjayAlbWF0aHMKRVNzbGFzaHVzZXBhY2thZ2VbdXRmOF1FU2xl
			ZnRicmFja2lucHV0ZW5jRVNyaWdodGJyYWNrICV1c2VmdWwgdG8g
			dHlwZSBkaXJlY3RseSBkaWFjcml0aWMgY2hhcmFjdGVycwpFU2Fu
			bm9wZW5kKQovRXNjYXBlZFByZWFtYmxlIChFU2Fubm9lcCU1Q2Rv
			Y3VtZW50Y2xhc3MlNUIxMHB0JTVEJTdCYXJ0aWNsZSU3RCUwQSU1
			Q3VzZXBhY2thZ2UlNUJ1c2VuYW1lcyU1RCU3QmNvbG9yJTdEJTIw
			JTI1dXNlZCUyMGZvciUyMGZvbnQlMjBjb2xvciUwQSU1Q3VzZXBh
			Y2thZ2UlN0JhbXNzeW1iJTdEJTIwJTI1bWF0aHMlMEElNUN1c2Vw
			YWNrYWdlJTdCYW1zbWF0aCU3RCUyMCUyNW1hdGhzJTBBJTVDdXNl
			cGFja2FnZSU1QnV0ZjglNUQlN0JpbnB1dGVuYyU3RCUyMCUyNXVz
			ZWZ1bCUyMHRvJTIwdHlwZSUyMGRpcmVjdGx5JTIwZGlhY3JpdGlj
			JTIwY2hhcmFjdGVycyUwQUVTYW5ub2VwZW5kKQovU3ViamVjdCAo
			RVNhbm5vdHhFU2Fubm90ZW5kKQovRXNjYXBlZFN1YmplY3QgKEVT
			YW5ub2VzeEVTYW5ub2VzZW5kKQovVHlwZSAoRUV0eXBlNEVFdHlw
			ZWVuZCkKL0NvbG9yIChFRWNvbDAuMDAwMDAwIDAuMDAwMDAwIDAu
			MDAwMDAwIDEuMDAwMDAwRUVjb2xlbmQpCi9CS0NvbG9yIChFRWJr
			YzEuMDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwRUVi
			a2NlbmQpCi9UaXRsZSAoRUV0aXRsZUVFdGl0bGVlbmQpCi9NYWdu
			aWZpY2F0aW9uIChFRW1hZzM2LjAwMDAwMEVFbWFnZW5kKQovQmFz
			ZWxpbmUgKEVFYmFzMC4wMDAwMDBFRWJhc2VuZCkKPj4KZW5kb2Jq
			CgpvYmoKPDwKL0VuY29kaW5nIC9NYWNSb21hbkVuY29kaW5nCi9Q
			cmVhbWJsZSAoRVNhbm5vcEVTc2xhc2hkb2N1bWVudGNsYXNzWzEw
			cHRdRVNsZWZ0YnJhY2thcnRpY2xlRVNyaWdodGJyYWNrCkVTc2xh
			c2h1c2VwYWNrYWdlW3VzZW5hbWVzXUVTbGVmdGJyYWNrY29sb3JF
			U3JpZ2h0YnJhY2sgJXVzZWQgZm9yIGZvbnQgY29sb3IKRVNzbGFz
			aHVzZXBhY2thZ2VFU2xlZnRicmFja2Ftc3N5bWJFU3JpZ2h0YnJh
			Y2sgJW1hdGhzCkVTc2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2th
			bXNtYXRoRVNyaWdodGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFj
			a2FnZVt1dGY4XUVTbGVmdGJyYWNraW5wdXRlbmNFU3JpZ2h0YnJh
			Y2sgJXVzZWZ1bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBj
			aGFyYWN0ZXJzCkVTYW5ub3BlbmQpCi9Fc2NhcGVkUHJlYW1ibGUg
			KEVTYW5ub2VwJTVDZG9jdW1lbnRjbGFzcyU1QjEwcHQlNUQlN0Jh
			cnRpY2xlJTdEJTBBJTVDdXNlcGFja2FnZSU1QnVzZW5hbWVzJTVE
			JTdCY29sb3IlN0QlMjAlMjV1c2VkJTIwZm9yJTIwZm9udCUyMGNv
			bG9yJTBBJTVDdXNlcGFja2FnZSU3QmFtc3N5bWIlN0QlMjAlMjVt
			YXRocyUwQSU1Q3VzZXBhY2thZ2UlN0JhbXNtYXRoJTdEJTIwJTI1
			bWF0aHMlMEElNUN1c2VwYWNrYWdlJTVCdXRmOCU1RCU3QmlucHV0
			ZW5jJTdEJTIwJTI1dXNlZnVsJTIwdG8lMjB0eXBlJTIwZGlyZWN0
			bHklMjBkaWFjcml0aWMlMjBjaGFyYWN0ZXJzJTBBRVNhbm5vZXBl
			bmQpCi9TdWJqZWN0IChFU2Fubm90eEVTYW5ub3RlbmQpCi9Fc2Nh
			cGVkU3ViamVjdCAoRVNhbm5vZXN4RVNhbm5vZXNlbmQpCi9UeXBl
			IChFRXR5cGU0RUV0eXBlZW5kKQovQ29sb3IgKEVFY29sMC4wMDAw
			MDAgMC4wMDAwMDAgMC4wMDAwMDAgMS4wMDAwMDBFRWNvbGVuZCkK
			L0JLQ29sb3IgKEVFYmtjMS4wMDAwMDAgMS4wMDAwMDAgMS4wMDAw
			MDAgMS4wMDAwMDBFRWJrY2VuZCkKL1RpdGxlIChFRXRpdGxlRUV0
			aXRsZWVuZCkKL01hZ25pZmljYXRpb24gKEVFbWFnMzYuMDAwMDAw
			RUVtYWdlbmQpCi9CYXNlbGluZSAoRUViYXMwLjAwMDAwMEVFYmFz
			ZW5kKQo+PgplbmRvYmoKCm9iago8PAovRW5jb2RpbmcgL01hY1Jv
			bWFuRW5jb2RpbmcKL1ByZWFtYmxlIChFU2Fubm9wRVNzbGFzaGRv
			Y3VtZW50Y2xhc3NbMTBwdF1FU2xlZnRicmFja2FydGljbGVFU3Jp
			Z2h0YnJhY2sKRVNzbGFzaHVzZXBhY2thZ2VbdXNlbmFtZXNdRVNs
			ZWZ0YnJhY2tjb2xvckVTcmlnaHRicmFjayAldXNlZCBmb3IgZm9u
			dCBjb2xvcgpFU3NsYXNodXNlcGFja2FnZUVTbGVmdGJyYWNrYW1z
			c3ltYkVTcmlnaHRicmFjayAlbWF0aHMKRVNzbGFzaHVzZXBhY2th
			Z2VFU2xlZnRicmFja2Ftc21hdGhFU3JpZ2h0YnJhY2sgJW1hdGhz
			CkVTc2xhc2h1c2VwYWNrYWdlW3V0ZjhdRVNsZWZ0YnJhY2tpbnB1
			dGVuY0VTcmlnaHRicmFjayAldXNlZnVsIHRvIHR5cGUgZGlyZWN0
			bHkgZGlhY3JpdGljIGNoYXJhY3RlcnMKRVNhbm5vcGVuZCkKL0Vz
			Y2FwZWRQcmVhbWJsZSAoRVNhbm5vZXAlNUNkb2N1bWVudGNsYXNz
			JTVCMTBwdCU1RCU3QmFydGljbGUlN0QlMEElNUN1c2VwYWNrYWdl
			JTVCdXNlbmFtZXMlNUQlN0Jjb2xvciU3RCUyMCUyNXVzZWQlMjBm
			b3IlMjBmb250JTIwY29sb3IlMEElNUN1c2VwYWNrYWdlJTdCYW1z
			c3ltYiU3RCUyMCUyNW1hdGhzJTBBJTVDdXNlcGFja2FnZSU3QmFt
			c21hdGglN0QlMjAlMjVtYXRocyUwQSU1Q3VzZXBhY2thZ2UlNUJ1
			dGY4JTVEJTdCaW5wdXRlbmMlN0QlMjAlMjV1c2VmdWwlMjB0byUy
			MHR5cGUlMjBkaXJlY3RseSUyMGRpYWNyaXRpYyUyMGNoYXJhY3Rl
			cnMlMEFFU2Fubm9lcGVuZCkKL1N1YmplY3QgKEVTYW5ub3R4RVNh
			bm5vdGVuZCkKL0VzY2FwZWRTdWJqZWN0IChFU2Fubm9lc3hFU2Fu
			bm9lc2VuZCkKL1R5cGUgKEVFdHlwZTRFRXR5cGVlbmQpCi9Db2xv
			ciAoRUVjb2wwLjAwMDAwMCAwLjAwMDAwMCAwLjAwMDAwMCAxLjAw
			MDAwMEVFY29sZW5kKQovQktDb2xvciAoRUVia2MxLjAwMDAwMCAx
			LjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAwMEVFYmtjZW5kKQovVGl0
			bGUgKEVFdGl0bGVFRXRpdGxlZW5kKQovTWFnbmlmaWNhdGlvbiAo
			RUVtYWczNi4wMDAwMDBFRW1hZ2VuZCkKL0Jhc2VsaW5lIChFRWJh
			czAuMDAwMDAwRUViYXNlbmQpCj4+CmVuZG9iagpzdGFydHhyZWYK
			OTM2OAolJUVPRoAF0iwtLi9aJGNsYXNzbmFtZVgkY2xhc3Nlc11O
			U011dGFibGVEYXRhoy4wMVZOU0RhdGFYTlNPYmplY3TTMwo0NTY3
			WE5TU3RyaW5nXE5TQXR0cmlidXRlc4AHgA6ACF8Q0lxkb2N1bWVu
			dGNsYXNzWzEwcHRde2FydGljbGV9Clx1c2VwYWNrYWdlW3VzZW5h
			bWVzXXtjb2xvcn0gJXVzZWQgZm9yIGZvbnQgY29sb3IKXHVzZXBh
			Y2thZ2V7YW1zc3ltYn0gJW1hdGhzClx1c2VwYWNrYWdle2Ftc21h
			dGh9ICVtYXRocwpcdXNlcGFja2FnZVt1dGY4XXtpbnB1dGVuY30g
			JXVzZWZ1bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFy
			YWN0ZXJzCtM6CQo7PT9XTlMua2V5c6E8gAmhPoAKgA1WTlNGb250
			1EJDRApFRkdIVk5TU2l6ZVhOU2ZGbGFnc1ZOU05hbWUjQCgAAAAA
			AAAQEIALgAxWTW9uYWNv0iwtS0xWTlNGb250oksx0iwtTk9cTlNE
			aWN0aW9uYXJ5ok4x0iwtUVJfEBJOU0F0dHJpYnV0ZWRTdHJpbmei
			UzFfEBJOU0F0dHJpYnV0ZWRTdHJpbmfTMwo0VTY3gBCADoAIUXjT
			WlsKXF1eVU5TUkdCXE5TQ29sb3JTcGFjZUYwIDAgMAAQAYAS0iwt
			YGFXTlNDb2xvcqJgMdJjCmRlV05TLnRpbWUjQbm+fHK8BhiAFNIs
			LWdoVk5TRGF0ZaJnMdIKamtsWU5TLnN0cmluZ4AWUNIsLW5vXxAP
			TlNNdXRhYmxlU3RyaW5no25wMVhOU1N0cmluZ9IsLXJzXxAPTGF0
			ZXhpdEVxdWF0aW9uo3R1MV8QD0xhdGV4aXRFcXVhdGlvbl8QD05T
			TWFuYWdlZE9iamVjdNIsLXd4V05TQXJyYXmidzFfEA9OU0tleWVk
			QXJjaGl2ZXLRe3xUcm9vdIABAAgAEQAaACMALQAyADcAUwBZAF4A
			aQBwAHIAdAB2AI8AlwCiAKwAtQC+AMYA2ADeAOMA6QDuAPAA8gD7
			AQQBBgEIAQoBDAEOARABEgEUARoBHwEnM4gzijOPM5ozozOxM7Uz
			vDPFM8wz1TPiM+Qz5jPoNL00xDTMNM400DTSNNQ01jTdNOY07TT2
			NP01BjUINQo1DDUTNRg1HzUiNSc1NDU3NTw1UTVUNWk1cDVyNXQ1
			djV4NX81hTWSNZk1mzWdNaI1qjWtNbI1ujXDNcU1yjXRNdQ12TXj
			NeU15jXrNf02ATYKNg82ITYlNjc2STZONlY2WTZrNm42cwAAAAAA
			AAIBAAAAAAAAAH0AAAAAAAAAAAAAAAAAADZ1
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/latexit/index.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGeXpYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QGQcIDiYnKzI4OUBBSUpNUFRYWV9i
			ZmltcXZVJG51bGzSCQoLDVpOUy5vYmplY3RzViRjbGFzc6EMgAKA
			GNwPEBESExQVFgoXGBkaGxwdHh8gISIjJCVXcGRmRGF0YVpzb3Vy
			Y2VUZXh0WXBvaW50U2l6ZVhiYXNlbGluZVhwcmVhbWJsZVd2ZXJz
			aW9uXxAPYmFja2dyb3VuZENvbG9yVWNvbG9yVG1vZGVVdGl0bGVU
			ZGF0ZYAEgA8jQEIAAAAAAAAjAAAAAAAAAACABoADgACAEYAXEASA
			FYATVTIuNi4x0igKKSpXTlMuZGF0YU8RMmMlUERGLTEuNQol0NTF
			2Ao1IDAgb2JqIDw8Ci9MZW5ndGggMjkgICAgICAgIAovRmlsdGVy
			IC9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeNor5DJUMABCCJmcy6Xv
			lmuo4JLPFcgFAEosBYMKZW5kc3RyZWFtCmVuZG9iagoyIDAgb2Jq
			IDw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9Gb3JtCi9CQm94
			IFswIDAgMTcgMTddCi9Gb3JtVHlwZSAxCi9NYXRyaXggWzEgMCAw
			IDEgMCAwXQovUmVzb3VyY2VzIDggMCBSCi9MZW5ndGggMzkgICAg
			ICAgIAovRmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeNor
			5DJUMABCQwVdQzMFXSMjC3OF5Fwufc9cQwWXfK5ALgBs0Aa6CmVu
			ZHN0cmVhbQplbmRvYmoKMSAwIG9iaiA8PAovVHlwZSAvWE9iamVj
			dAovU3VidHlwZSAvRm9ybQovRm9ybVR5cGUgMQovUFRFWC5GaWxl
			TmFtZSAoL3Zhci9mb2xkZXJzLzJrL3lmdmNuMXduNmtuN3BmbXZs
			cnlqeHM2bTAwMDBnbi9UL0xhVGVYaVQtMi42LjEvbGF0ZXhpdC0x
			LTIucGRmKQovUFRFWC5QYWdlTnVtYmVyIDEKL1BURVguSW5mb0Rp
			Y3QgOSAwIFIKL0JCb3ggWzAgMCAxMTEzIDIzMDhdCi9SZXNvdXJj
			ZXMgPDwKL1hPYmplY3QgPDwKL0ZtMSAxMCAwIFIKPj4vUHJvY1Nl
			dCBbIC9QREYgXQo+PgovTGVuZ3RoIDU3Ci9GaWx0ZXIgL0ZsYXRl
			RGVjb2RlCj4+CnN0cmVhbQp42jNUMABCQwVDEz1LExMFIyMLMz0T
			heRcrkIuYz0zsCSMBgsaQtVDBfTdcg0VXPK5AoEQAB3nDqUKZW5k
			c3RyZWFtCmVuZG9iagoxMCAwIG9iago8PAovVHlwZSAvWE9iamVj
			dAovU3VidHlwZSAvRm9ybQovQkJveCBbIDAgMCA2IDZdCi9Gb3Jt
			VHlwZSAxCi9NYXRyaXggWyAxIDAgMCAxIDAgMF0KL1Jlc291cmNl
			cyAxMSAwIFIKL0xlbmd0aCA0NgovRmlsdGVyIC9GbGF0ZURlY29k
			ZQo+PgpzdHJlYW0KeNor5DJUMABCQwVdYwMjPUtLSwVdM2MTIMNC
			ITmXS98z11DBJZ8rkAsAp24IYwplbmRzdHJlYW0KZW5kb2JqCjEy
			IDAgb2JqCjw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9Gb3Jt
			Ci9Gb3JtVHlwZSAxCi9QVEVYLkZpbGVOYW1lICguL2xhdGV4aXQt
			MS5wZGYpCi9QVEVYLlBhZ2VOdW1iZXIgMQovUFRFWC5JbmZvRGlj
			dCAxMyAwIFIKL0JCb3ggWyAwIDAgNjEyIDc5Ml0KL1Jlc291cmNl
			cyA8PAovRm9udCA8PAovRjExIDE0IDAgUgo+PgovUHJvY1NldCBb
			L1BERi9UZXh0XQo+PgovTGVuZ3RoIDY5Ci9GaWx0ZXIgL0ZsYXRl
			RGVjb2RlCj4+CnN0cmVhbQp42jNQSFcwUHDnMoDSTiFc+m6GhgqW
			epZmRmYKIWkKxgbGegYWFgpmxqZ6xoYWCiEpCtEaVZqxIV5wTTDa
			NYQLAI93EGIKZW5kc3RyZWFtCmVuZG9iagoxOSAwIG9iago8PAov
			TGVuZ3RoMSAxNDE2Ci9MZW5ndGgyIDYwNjAKL0xlbmd0aDMgMAov
			TGVuZ3RoIDcwMjIKL0ZpbHRlciAvRmxhdGVEZWNvZGUKPj4Kc3Ry
			ZWFtCnjajXcHVJPb0jbShIBSRRCQqIAUIQlNeu9VOkpNQoBQkpBE
			SiiC9Cq9N+kqvYMIKFVAlCIqHSlSVJBeBL7o8dx7z/3/tb5vZa1k
			75lnZvaz55l3veG5dsdYSMkeDUOoo1F4IYgwWBqooqenBQEDwWBR
			YTBYBMDDY4LEuyL+tgN4zBBYHBKNkv4PhAoWAcUTbapQPBGoh0YB
			te+7AiGiQIiENOS2NBgMFAGDpf4GorHSQFWoB9IeqCcM1EajEDgA
			jwoa441FOjrhiXX+XgL54PxAiJTU7Vu/w4FKbggsEg5FAfWgeCeE
			G7EiHOoKNEbDkQi89z9S8Mk64fEYaRDI09NTGOqGE0ZjHeX5bwE9
			kXgnoBECh8B6IOyBvygD9aFuiD/UhAE8QBMnJO4vhzHaAe8JxSKA
			RIMrEo5A4Ygh91H2CCyQWB1orKULNMAgUH+Bdf8C3AL+uRwgRBjy
			r3R/on8lQqJ+B0PhcLQbBoryRqIcgQ5IVwTQQF1XGO+FvwWEoux/
			AaGuODQxHuoBRbpCYUTA76NDgepKhkAokeEffjg4FonB44RxSNdf
			HEG/0hCvWQ1lr4J2c0Og8DjAr/OpIrEIOPHevUF/muuCQnuifP7e
			OSBR9g6/aNjfx4BMUUj3+wgt1T8Yognwb5sjAg8UB0veFpUUByLc
			gQgvuBPoVwETbwzitxPyy0zk4OeDQWOADkQaCD+kA4L4A/DBQT0Q
			QDz2PsLP5z8d/9wBIBCgPRKOB8IQjkgU4N/ZiWaEw197Yv+xSC+g
			JZgoPwgQ/Ovzr5U1UWH2aJSr97/hv1sMumdhrmaqJ/iH8r+cyspo
			L6CPkKgIUEhEHAyEgMUkgbeJC79/5vnXDfzN/rf1DhT553T/kVEL
			5YAG/irxiwXx+v5m4vFHGnx/5oYf+M8S+miioBFAvn/r3wosDoYT
			vyD/5yn4HfL/E/+vLP+r/v/7ROr3XV1/+/n+Avw/fqgb0tX7D4Io
			6Pt44nDooYkjgvpvqDnir4nWQ9gj77v9t1cLDyUOiRLKkSh0IYiY
			MFjsLzsSp470QtjfQeLhTn+J6e9uEGu4IlGIO2gc8teDhxgFBv+X
			jzh7cBfiwwVH7NlfLiiOOIj43+39tUcQR+2f51BDwdH2v2ZSRFwC
			CMViod4AoiSIO3GgD4Q4vPYIr9+aB4KEUWg8MQRI5OwHdEBjAb8a
			DRERAYIIv2yAf+SF38diiYV/C4JY9O/978FHILwQcMCncTRcJti5
			Jrj1oEqJ3VNoaUiWYiPtwEJEaKjQhgrfrTZiO59gnJ01ofNU/VMX
			RN3GuV1f2f0gZ+bDts9iLVedt9ieEJf6iiMXLG78bO/cWKLPPsf1
			cbomksfmKcpXpUuw3SR3OKPoO6gV7B27jXnofG/WdH5M9ORlLlW/
			rR3Sqt/WUVWapcvCIWX29bMRvhnWZ7IkvsN6M/ez26OghWiriFT9
			jOs6sm2HgATPSvq53v6+KYYuzpdRgdoeD5c2uUPxDGoyfRyqYucr
			zabyL/7MLfFYz2D0gWkwKa7bdz+b5U85qNHfclrcWre+xpfUcdvJ
			LskhGvKVcMjJgJliVk7D5hUsR9pP5oRxkTX2yifu48w605Gar2bK
			P3O6aIeF6HhPjHUOz/28r5OqZfm2J5jvll6C3GnZ4le/ep4XMR4O
			oaQtN6tSGBbVBFmy+Nf8HILye7hds6f2+ELGzEUsJdOcWk3ki6ek
			glsCLBhERS94INMqTC+C6r/0ni+6u+dDEDvN325rU+adcK+MQsUw
			RhPmaqd8MwofH21AQK/r4OnV0SoET7f5Pd9Kr3lr3V43dJFfOaHV
			Tfzb3AeG2Gi0NJAr58lae2RwDKtwS8T18smFrvDdq2WkcfYkpfp5
			z452Alne9KBbSUQBHqWB0UfrhJN10gygPgBTR6B4eueSjNlIu6NE
			b343Dan8p1tnP+RbUg0CtMXclMCDJ0aiDePNAsx9Pm2C+Swti4xS
			DPMhyPtLb/WSFg0U6Zz8hJgm+WIvPGQ27AtaTXgU3ao0t9OcG8U/
			Ws0+9o22tVQukEpY6smXrPUdUUf2K9tZche5LNtsuc5gZ2jbS5vK
			HGaFs0c9DwfON2yZX+f6xka62JCd+WoOurWKvqeOM4jnD04q5Nmw
			F9lq9ozWf14+qim/q+q3u0k1mR3ffTf5Yuu3umqI872KIMfSi5Tt
			EFhbc5b2U6ivXZtTTAnsAf9Lz7tBG3BLXrBz0maNBclt7wNHAFOa
			E5txY0g+L8UDP0bMqdDImsO4DRB6PG4L6GZ3FSOYrW6voIy259o5
			bWMQipW1AqQE35T4ZHOkcKPUIH9sb3qmcqhx7CxO9O2jRy55t2yi
			YQkZm4SBZioozUCImK0y5cIaEwXj1HHP0BFkQ3B4gmH0HN1X8/oa
			kX4MOkv1OOtZBFmbl3y/wwfN2iNLLmsTtb2XzhlGfZH+IMFjmsVF
			ljVgRhr9tKvkIsFiKgFTs5Obma15zWx/KtC+4VpDgIy9WH6BSRHd
			J3HpWwtHHsw34DqPBKbGZQQJby+dt4iuZCRccAFeLjQcnfXsloe6
			98AkliAxWkfNQzr0vCEKiHfv9+PlwtccmhtkN511fsaOcrs0ue7N
			8NjuuHFb06dLLQh1BeUtXXaB6g48uDJ1mGby9g7E510g0xVmVF5E
			7Psc9QkfmMmLwVYHytDP3/LKfSJ0R9Z5wzs6AP0W2VIL/cVzR/vf
			62flFQKZJhbrTPI+9qG/G3lmjM5LA8KuZiKaNwCgLeqIlhVOjpes
			LN7H35ou+gXnheGXJyzyg1qu3w7YcscHzzkc+XUwLg8n8VeFSpIb
			G41aJHtfZpTNwtWJOCcb2LTOB7XQ83TQPjLNbgmZ85EfiwHllVU+
			UXFDzy6Bh3jK/B5jJi/bf/FxYhGTj2SMPG/jqVq8qYgw3LG/2EW2
			BkXa3x22mVNsr1egwtAiRWU4agKVu5uVOBHHx1d7d3ZpyYavl+vA
			V5dtAYAd+Z+vf5qgh+UKBTiYml4PHHkXBny6gWGi5E43HeKAFgfU
			BGSLG4rcE5VmzW5k75O9qzHsAzk4g5tpsVWRSfDZYvWuH0TgQ+wD
			AoKmn+qvh4pYw5HQ+T2x7TO5Dc432PTnHt6TlU42Ai81dT5V+1rt
			fLwb4clUf0VvvUD0lkB9V6SHuJ/w0yKp4stVudcloK11DBcRd1cz
			/OLIJJ6I+OkEgb/bmlWxDD2PPj85CCqR6PAfiABvuSgnhPecun6X
			90yYsViT/ax5N6aqh9zLg/EFk1/AoroQd+b1TBjzNb56gouqoREM
			L1Pbe3HVubCpK9uFZlGfbU+sfJRS7DB9Z7Z26sxZSSDTznEkzPBp
			dQ01X/EXmYHAKsMLplzBKhjYyhtFmYNOFRIpxCqvuiVfFCD/Z8hh
			3GGxwhBrDJYk8ltaa4vtTkXIeYYRBwMq85l3pAuluaX3D8HT+/Ex
			LqCECt5K8V3a1yOlh/XvP1IHVgvN6t41u/cU9lXMIsdyEHx/0JlF
			Xm3MpSag5ppFd4duXFvDwePeeNPUqr3MBaBemOuRiSZHH2rk1Duz
			C2Ha03P2ExeiRD6VFYkOEeUa8rXmAlZapy8usxOaA6f1K3iTryRp
			vDeFKNaHCoOkSGV6h7XOrb1VJyRxF7cFmH4E6ZCSuX5wkPByn8vj
			pPYG1Hj6VT/U1ATVCvAcTcKSXRIrf96t9kZ7vWtwrvie6lVQY/wi
			jczKu54fdVmhJcds5aF2A9vVQ0pBrj52F2hIniULYWrQIa06gDH1
			g4OWwLSlA5scqR4ji+goP0/rjycV9InuTysaDPgo2q2E7l2LZrua
			s67dCdDk58Aa7sXVcxqK7xU8MGGF6fqB5IfEXRi/su7LGXrmG5ze
			ZhH/GX6DXTr5w618U1sW3TsK8fW9/Zf1VSqWjfX23iM33l+YkE++
			yNDzdj98iXbph6jAB+cb5p3ZqmuSK1HcW6O+WznXGtUjZ/sHI5tO
			r6xO6CbK2D4A2BumaGtxN7SkdN7t4/vIyuJm5L7CtF+gbcma4O8w
			Tk8mdSvlmUTt58u2kKOCUX9PIM3z9SccxrcoFCCPFIKoaLbHlca6
			Z71d+R4u6J5rfot/nsdFtmEax/j96wp1B9szN8URAZbjOBNmqbhJ
			tWbSInMDR6GJlPGX0XRVmquYZdaLUE3Kq9eprAiFJ6/oQSOjV4PV
			nM0ofLIhEduQwSCT6mQz3ZMRcW9zHV9CwMj2Quqm70QD/nyhs7L9
			aoiZXAXhk+hEh8m4tn/rsmVNW/3pe1G7E4+8UwwKG2RKq2dm/jRz
			T/gL010h/Ep62mpVeY0IIfv9j/jgIpIwgKyxBB5S79o1bfcclrEc
			SZLbQqK1zjLMacuffS99e8wWQa920Rh/ocgULv71jcq8YtRDdLc4
			fa+XruqbdqW0yIYHJ936xZzvjKiAulHfshx6vJZFVPlSHg6i8mom
			xrMmkVMxT98OP4nGXej81BoT9PlIGDtDVUV2dVvN8okQWdlJ49fd
			iytBpYGEFylLj7AVFHRrcyPcRcpPaXRJQZFxX6SblFl2geMzH3gD
			NNhzRoYg9yXA1ji7QEDCTrJvRksiXzWLWO5sCd/qpnLNiRCDS+vz
			5pyeFJei+Z3j5zpXK9yiphVnbAuVbi5/6LjXMtrBSHWL2whB7Tam
			aklWHtMRg/Ef2KzYjKChtJhKVDqRdFMifNr9kkVu36Yvc30x3Z+V
			cjihtA0z27qXeqmJTUWj+GJAov673KrYrllfGaDO+e8S9B1Ks/tj
			vXZ2i23O0iAa0ssk92ofBZydmhbzCBxJsFt93G5QXp5PnIiX7V9b
			uhPNjSFzLg/o6Fn17MSHCCJLZ5AVhdpPx3Iaf44BX5gWdQ9s4lbu
			tmQ7h/jlA6xe4TVV1s5v9B9eTQcBVOeXgM/7qX2QiK4F2nSyMtnH
			lexta29PfF8J+6TCq8JcD8CxBeF8JSwTD1So0gS/v+Fo4vh0r+kU
			ww3k/UEPLaGr41Z7mqCuGeNGwj97eaZQlKIMP2u0hMx05QbzeLlc
			O1FJlw6QWv1iOyT03M/FX3dY8cu3slcXBjTkumyeOX1c43epzGxG
			UkvCRuMPFHE2lw+8NM6E40Op6NZZDfZDM+5FfXeuXFBnNplqfXfh
			Fjd0I+iK0WTVEc4hqa6g8KOVWwDcBYKuFlx+QBU2uDxLHvBSbS0M
			thF1S6XCfbuTN/TEgmldqyCzZyyNHPvCarLh1cPXZ5+PjRBoO4+E
			+Ras/WWMwte3YxWVWQ7vVYYuUVY/GW82p9jDhI5tu1DmBw31KeVx
			0fN9stZbZPvAQEdNz7w3FWcTWD783iC52nX67TtvOY6dUhuCuFp0
			IBuB+/ThAPzbDHjAxTgS8+iF0iapUwkWRxPyItyOQvtN4qlLVGvz
			oIaa0xjvisKloBBgAdNcBbtdcvaColTUtTS0laJuItQk1doIT/OV
			jtBeefOKwMt9U5lQIbXhK0shiejnJrDP0+3ii5WN7T9fiCS1yT/7
			quPlLtpZNPfaFl/CWZ65GvfOd9j8A084uGBQblktXrGyJUl4Q8Rm
			DltbJJ3Lx6kpX4ZYmbgzOF07JlO5/7H3w+NgPzfzrFWhH/V680pD
			BJwdDuYXlxP96aQT16TIbJuIawWRpuYsqIe3B9MZJKi9epbq+j1q
			xslKww52bg96VbIwo5Gbb2arz8ZUlKnSPaNubHdjYVuF4vqzM4/2
			qKZd51MGkhiFtNyjqQElztHGZXHhUpx0m3Uvu4ymSEXIixoF1/a6
			Gjgz4+IpyZ2i/Z1rCKqCyTUhPCT2I+gKqDceJhuanDh14nIMWvKZ
			pVwdTkJnDuUxBT9600O28LVIUoOHIQIz1Pp6vadR74f0aPIR6uQV
			N9w4YJ1d/NrThJwWcHLk5wnFkGspDf6LqtSjNyRlaB883qo728aR
			c+barFXJOaps5sfXBU4rHK6sfyCcl4mxtU5sxfoT/+tpJlZGgPA/
			aTq3VyRUntzWcIxtTjt8zS5Nd6gsJ8W9e/5H7zord6ZAo0T87lGf
			E5Zu91oQNReiTGZl4GLAiHm3cKm9/77GKVgtbX6ImqRwRhGy2FAU
			44WsijR76k4bP9hU+SypnH4c88WxUP+cp7f17LhV1hROxN3t+6lC
			jvDHIp2Goz0Zn91dk2axh/ShHbmvHpXo52+M0c9Rtrmsz3XZz3m9
			1HJSk+sNKgkvsk6wxgJNEjr8LrR813p4/C1TZJqt4saFojDy9NO1
			bkvqqlTA+wT4/RPvZlOjQJc5sjjiG0l9fwT7szeB7aHBvq0Wd8by
			zF50860SZobX3Hw8XsR26uMFcgd/ZMDpSVTTqwevJNDYyuBdxmaE
			MrPXxDh5SkoaKNRLDzfS2WgPpr/VXDlHpmSQy1cRinvtUM3DN3WM
			GVKd1LwuwkuRJoSJpNHZ8K+KgC3siF6Tu6+2bbialErFt64qK1Pr
			XNXV33g0+0lr6VAEx8yZ3zB7rFTnGKqR+EbfuDcS3iMy9rPlA5ZR
			OHR64fZ7lVgbFeW8+aiVKma5aWzcsF3KFnOWq3s5n4j1dHu6PoI9
			W2clCVzL+VWhZAQDSdn/QWMTk7Z1kfkSg90df+MzLjmd6TMFtcNl
			HfbMTN5awe2IAqwVtwg1t+WHaJDXOEa0jWT9813Tx2XuQRT1AqR2
			eVjgk30lmvJEU8me3m50nAAGR8txeEGtaM/VpQSmiDIU3B6UMYqP
			RuUkRIh4vw2tZAn+1OB39fmKzupHHTOToBvPJK/MR+ckY9Sk2zz7
			s3OGWdTgjDSJuZ1lnXJau6sRJdq9dpuvkyz4jbw2ZhJW48i6vKjF
			h4UnnEpvULWoarKt5X4C95HC6/1fNrNoF9EuhDZtBBZJu5Oz9PQ5
			eetM152qy8jePct9F/LTv9N361njLPUYA9OOCQjbflLMVbmh1AVb
			a+0tqDtedC3jcSXsgDOg/rgviap3VPTFdKwapreWFdRu/DBCjewn
			X1+bd7kxnbuToGicd+SrTcN/tqNpRc5Oyex3K2nEw1RBVZY/YCBl
			w7ow86Twe/LzzYSyzzOrGu96GV4mUpA0Zphwr2jp7c17R5FkSLKI
			gfQ4fasa22/kytlJXOmhIKWIx19gGpJ06b+KzF+hlIUdJmflNp8D
			LOSyhgtelZG7kEmuMfngAUGS/rYxFsMbWsMd4bK7+EZxgaq+OC0K
			qhcQ/irlMvON/hqE73HaDqzy89V0Glq8bpjkcDU4tT/c9+3oWpvB
			Vf5Z93dL9OrJeOoUg1zSAjmvmqKWboqoiQsfi22Xu+XOEulPBFMr
			RwyklkKV/AZZH1vRzHvb0N2S87KNfvnMlOL5o47ZxxIGVGHOyhML
			kgohCsFfllQpnseQxHNYxu54qyZ9aj/vZl5seyMBFgU9S/H15GfQ
			spujK+9EQqG+0B7cCyFh7WwTzHXRPiVF3mVvxRffWD6PPgRRUoaQ
			dqSgQXuP8MNXaLxokrd3BQdZBG43bGi+tT0wlN1hhXjgDAKag0zO
			1U66vBdPtbfAHaVoxlYH2buYY24vuXsbjcj2Xp33opHbEcryCCf/
			qfGW2a/qbvN3Ajx9bKfyrRA/kvSHm9n4LF+ZbkbKgrlj1JNzp9gh
			OVA1XTsvRN3ET836R6vo49kSYx4OXr0m75iCuyqFSdSww4Wm4hhB
			aiXPSzoFgP0XQI7y+CzqAjWJRU5Xc2yYLKXY6YFev+0Va5PwdP+b
			aR6VnMcKht4A57mQdzmF80kPXtKk+QpVwXXpyYN36kzIGXK/E/z7
			GBhIs87YdY+uhN4eKyrXELzXMZCrHF09G9m+JtdEJcA7GGhy+5mk
			/4OwuBtpI3M97a7JryS5LjVw1XS/aHLSPm4sfpnHkc/nHHMGWxJg
			kfPFR7Pfgo8kghm7wa6NG1V1b3CyZi2eJGW9kJGk/cdcAlyP1NmC
			tlKFSjsnaw8ZHhDQ4kF9RVPPau3LyOjVHiQe9/N2Mj/8SNlTUnjw
			QLdZWAFcNy30fmHC2E6FluThbXeESUYhS4ksrIgGg8HXNM6MVOFN
			zA3sQjlGNsWEDby4vRK8vjD8iD2waGLLKxtwlNTRYLb9Dq69FjiO
			3iEUmwdtDg4gpXspzVsFt8hTdWpb23+Om5B7fnmCcw8zKWtzeiiB
			nVjb0k3klTa/G9nVmh4PXHB8Wlivay8fHRFGqnM+84Liseh7q+/G
			+tKSjwtYbjqSrxbPUpkqzPAvjhnBeIaPJ9DRjQFpK/KREhcWunr9
			+dOoDRIAz570WniKvwFdH5j3dUkv5UOwcYNYZ7SftWnQNM0lXu3d
			fZnDAdbbRd9wwgybrPJ0bS2dEzLK45MvEhg6oh4p/donIh7u1Lqy
			0eKrJSx+/6Wd4Z2C/fGH/HY/nqQaGvY2rPL9PL8vlijOmlxrUxI0
			E/yQWW+2Eh3OSSWuIWCn8MZIXa/0wlxnwOn7QceF2DVMh8PELCmK
			7JSkTbwHQmdfVtgc/02na53RUhfg3eROXafc0cDdqXiTLbxfYvWa
			+focYCjuSO1SQ49W84bEwa1jLZOX3GExp0PemZ/Cviee00zBIJuX
			z8zgTjnWrK68k7OP1TunpZtf0RsUrnLf6IukuqYqXUoSxUASwsNP
			ep4ZyrqQqeeVeNLXe91WN/VIgeOVPaPAkXTYOHhDxPq2F9/XFjEM
			TcUdyVYBDmFyD3HOHNwATHY3ttZa1zAUvCFw0KDzLfmDYKOiPEJY
			aAL9dPTRyqkKWwUbHXnK454A1376jZ5hK382I8FL3B6d6BTVovQJ
			x9BZqlPvwMO1vBUoVzjtF1V9FHZFYGNwr4KQV+F0EPTpwDKQt7ib
			N6zjbHnsp7twRVT/AWf79LuisMtdQ0Xrva5JZl6iuybZT2n3eHRh
			hCuUMGPCaJ0sWjruvfELlH/wZaSn7x1hvffHUZdUrkDLM3nfIOs/
			jNSEeZzX9/FZ55kQsoxeyBFKE8xtZhRGK3JMZOjGVg75q4ZzjGK+
			4fmVclO2zt9vqM/NGlEkFRtF77KXdZWuMQ/M59NQAUtuto4J69Lr
			ivCQbRPuUddhD6r08lvfQM9Lq6oHF5UAmQPoVIz4uALPAb4FPHn0
			Rtqpzs/skJOHb1Lj6Yi2cCDNSR84QGZZ9cFWIFvn3iW252GXnpmW
			d6z7v1iKPfs2C421ghjippSCsjf5WYPx5HNYeNmeovRgOWi54E3H
			Mrtn/VjV8do5DQQkhEWWc0vmLMQ4Kovi+OFE+vCrLJmOAPq1ydN4
			G2zMmODFYn5MQ/sWOGjF+p5LQ6TEazIIrP4JRx5K9m0140VQZED0
			9Q2nd72N0uoVNw0aaObZ4ZZtppuHxRo8bhECjZL2hFLl8aP+5NSP
			5D+NF9JDRcxMabNINR/lW9QPV4Sks5jx+12q49V54BlsYXqYUT1W
			J8WVPEzby2SDLroo+vgyE9+wUqKjRphjbKm6bLcQe9MALZXRI2a9
			/wHpAJ4ICmVuZHN0cmVhbQplbmRvYmoKMjEgMCBvYmogPDwKL1By
			b2R1Y2VyIChwZGZUZVgtMS40MC4xNCkKL0NyZWF0b3IgKFRlWCkK
			L0NyZWF0aW9uRGF0ZSAoRDoyMDE0MDkwODIwMDgxMS0wNCcwMCcp
			Ci9Nb2REYXRlIChEOjIwMTQwOTA4MjAwODExLTA0JzAwJykKL1Ry
			YXBwZWQgL0ZhbHNlCi9QVEVYLkZ1bGxiYW5uZXIgKFRoaXMgaXMg
			cGRmVGVYLCBWZXJzaW9uIDMuMTQxNTkyNi0yLjUtMS40MC4xNCAo
			VGVYIExpdmUgMjAxMykga3BhdGhzZWEgdmVyc2lvbiA2LjEuMSkK
			Pj4gZW5kb2JqCjYgMCBvYmogPDwKL1R5cGUgL09ialN0bQovTiAx
			MwovRmlyc3QgODcKL0xlbmd0aCA1ODQgICAgICAgCi9GaWx0ZXIg
			L0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp42uVU207bQBB991fMG4na
			2DvrayqEBAlWEaSNIIWoIQ+LvSTbBtvyOqjl6ztjk6bQSnxApUjO
			zM45c9kzG4CAISQxIILvS0Af/AQBA4hkBBhCHJEVQRwLwBiGEYUk
			MIxjSACFRMenT4zABBJBUhRGvnN46Hizn5UGb6pW2vFGZdHoorEQ
			Ur5Lx7vUttzWmbbgd46Jzo06KX/AQkCbCeOlQ+CaUETOMUdHLe20
			LvNtpmvoVfn9TM8H6AbCxaBPWWqtmpJOyL0zTVmMVaOhN/4gBQZi
			KBIpRIJiIIIDIQ4oblLmb4XMalVVOgcvVRtL/Uxnp3M33W42d6oo
			uJbZ2ligX1fTe7jWtaXU4FNlGA5lNJBuuCsVbrlCuDCPmiaG/m0f
			vleqWVut4PEZGLnoYn/X9Pzz3TedNcD/zx7oRuRuJDyP7Eo3sPCm
			43T5X0+pU1xKWnO8q+1d05rsRMdLTW2b0VrVNDvpeBfqT+vG5MTL
			cm/FyAxjbbPaVDwokn/rPlFW8xHLs3WcFlmZm2LFK/F8HQsIotDF
			5at69mwd+yf1QCdf5zenXybvRpPJGQo62KiVhaCLOGmXAQa0kwMZ
			0kqIIIE4FLQVxzZrtyIkzEhVH7VZrZ9NzsNnDCGlNGpjsuNitdEw
			QCK+avTDNcTUMffOqul5T/0uYWooCoe/dfWyuH07u6Ypmbm/17Sg
			vMYLHqT3tPxbsNAJlnnhhV6BBQv/RKSEkG8i9g+M5RdmyzfjeOcm
			p3ICRr+KHCmaR7lyOsj+VfkF4+5XOgplbmRzdHJlYW0KZW5kb2Jq
			CjIyIDAgb2JqIDw8Ci9UeXBlIC9YUmVmCi9JbmRleCBbMCAyM10K
			L1NpemUgMjMKL1cgWzEgMiAxXQovUm9vdCAyMCAwIFIKL0luZm8g
			MjEgMCBSCi9JRCBbPEZGMUNDOEQwMUYzRTIzQjU0NDUwNTM1Q0ZC
			OTAzODZBPiA8RkYxQ0M4RDAxRjNFMjNCNTQ0NTA1MzVDRkI5MDM4
			NkE+XQovTGVuZ3RoIDc2ICAgICAgICAKL0ZpbHRlciAvRmxhdGVE
			ZWNvZGUKPj4Kc3RyZWFtCnjaFclbDYAwFAPQ9u7FgAQLLEESbvCC
			CdTMAMlUQO/HSdsUwEeeIC4Y8izqG9iG70WqkNZ9G8PjGSRKkixF
			Jqbi38r9BY8bP1YABw0KZW5kc3RyZWFtCmVuZG9iagoKb2JqCjw8
			Ci9FbmNvZGluZyAvTWFjUm9tYW5FbmNvZGluZwovUHJlYW1ibGUg
			KEVTYW5ub3BFU3NsYXNoZG9jdW1lbnRjbGFzc1sxMHB0XUVTbGVm
			dGJyYWNrYXJ0aWNsZUVTcmlnaHRicmFjawpFU3NsYXNodXNlcGFj
			a2FnZVt1c2VuYW1lc11FU2xlZnRicmFja2NvbG9yRVNyaWdodGJy
			YWNrICV1c2VkIGZvciBmb250IGNvbG9yCkVTc2xhc2h1c2VwYWNr
			YWdlRVNsZWZ0YnJhY2thbXNzeW1iRVNyaWdodGJyYWNrICVtYXRo
			cwpFU3NsYXNodXNlcGFja2FnZUVTbGVmdGJyYWNrYW1zbWF0aEVT
			cmlnaHRicmFjayAlbWF0aHMKRVNzbGFzaHVzZXBhY2thZ2VbdXRm
			OF1FU2xlZnRicmFja2lucHV0ZW5jRVNyaWdodGJyYWNrICV1c2Vm
			dWwgdG8gdHlwZSBkaXJlY3RseSBkaWFjcml0aWMgY2hhcmFjdGVy
			cwpFU2Fubm9wZW5kKQovRXNjYXBlZFByZWFtYmxlIChFU2Fubm9l
			cCU1Q2RvY3VtZW50Y2xhc3MlNUIxMHB0JTVEJTdCYXJ0aWNsZSU3
			RCUwQSU1Q3VzZXBhY2thZ2UlNUJ1c2VuYW1lcyU1RCU3QmNvbG9y
			JTdEJTIwJTI1dXNlZCUyMGZvciUyMGZvbnQlMjBjb2xvciUwQSU1
			Q3VzZXBhY2thZ2UlN0JhbXNzeW1iJTdEJTIwJTI1bWF0aHMlMEEl
			NUN1c2VwYWNrYWdlJTdCYW1zbWF0aCU3RCUyMCUyNW1hdGhzJTBB
			JTVDdXNlcGFja2FnZSU1QnV0ZjglNUQlN0JpbnB1dGVuYyU3RCUy
			MCUyNXVzZWZ1bCUyMHRvJTIwdHlwZSUyMGRpcmVjdGx5JTIwZGlh
			Y3JpdGljJTIwY2hhcmFjdGVycyUwQUVTYW5ub2VwZW5kKQovU3Vi
			amVjdCAoRVNhbm5vdHpFU2Fubm90ZW5kKQovRXNjYXBlZFN1Ympl
			Y3QgKEVTYW5ub2VzekVTYW5ub2VzZW5kKQovVHlwZSAoRUV0eXBl
			NEVFdHlwZWVuZCkKL0NvbG9yIChFRWNvbDAuMDAwMDAwIDAuMDAw
			MDAwIDAuMDAwMDAwIDEuMDAwMDAwRUVjb2xlbmQpCi9CS0NvbG9y
			IChFRWJrYzEuMDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwIDEuMDAw
			MDAwRUVia2NlbmQpCi9UaXRsZSAoRUV0aXRsZUVFdGl0bGVlbmQp
			Ci9NYWduaWZpY2F0aW9uIChFRW1hZzM2LjAwMDAwMEVFbWFnZW5k
			KQovQmFzZWxpbmUgKEVFYmFzMC4wMDAwMDBFRWJhc2VuZCkKPj4K
			ZW5kb2JqCgpvYmoKPDwKL0VuY29kaW5nIC9NYWNSb21hbkVuY29k
			aW5nCi9QcmVhbWJsZSAoRVNhbm5vcEVTc2xhc2hkb2N1bWVudGNs
			YXNzWzEwcHRdRVNsZWZ0YnJhY2thcnRpY2xlRVNyaWdodGJyYWNr
			CkVTc2xhc2h1c2VwYWNrYWdlW3VzZW5hbWVzXUVTbGVmdGJyYWNr
			Y29sb3JFU3JpZ2h0YnJhY2sgJXVzZWQgZm9yIGZvbnQgY29sb3IK
			RVNzbGFzaHVzZXBhY2thZ2VFU2xlZnRicmFja2Ftc3N5bWJFU3Jp
			Z2h0YnJhY2sgJW1hdGhzCkVTc2xhc2h1c2VwYWNrYWdlRVNsZWZ0
			YnJhY2thbXNtYXRoRVNyaWdodGJyYWNrICVtYXRocwpFU3NsYXNo
			dXNlcGFja2FnZVt1dGY4XUVTbGVmdGJyYWNraW5wdXRlbmNFU3Jp
			Z2h0YnJhY2sgJXVzZWZ1bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNy
			aXRpYyBjaGFyYWN0ZXJzCkVTYW5ub3BlbmQpCi9Fc2NhcGVkUHJl
			YW1ibGUgKEVTYW5ub2VwJTVDZG9jdW1lbnRjbGFzcyU1QjEwcHQl
			NUQlN0JhcnRpY2xlJTdEJTBBJTVDdXNlcGFja2FnZSU1QnVzZW5h
			bWVzJTVEJTdCY29sb3IlN0QlMjAlMjV1c2VkJTIwZm9yJTIwZm9u
			dCUyMGNvbG9yJTBBJTVDdXNlcGFja2FnZSU3QmFtc3N5bWIlN0Ql
			MjAlMjVtYXRocyUwQSU1Q3VzZXBhY2thZ2UlN0JhbXNtYXRoJTdE
			JTIwJTI1bWF0aHMlMEElNUN1c2VwYWNrYWdlJTVCdXRmOCU1RCU3
			QmlucHV0ZW5jJTdEJTIwJTI1dXNlZnVsJTIwdG8lMjB0eXBlJTIw
			ZGlyZWN0bHklMjBkaWFjcml0aWMlMjBjaGFyYWN0ZXJzJTBBRVNh
			bm5vZXBlbmQpCi9TdWJqZWN0IChFU2Fubm90ekVTYW5ub3RlbmQp
			Ci9Fc2NhcGVkU3ViamVjdCAoRVNhbm5vZXN6RVNhbm5vZXNlbmQp
			Ci9UeXBlIChFRXR5cGU0RUV0eXBlZW5kKQovQ29sb3IgKEVFY29s
			MC4wMDAwMDAgMC4wMDAwMDAgMC4wMDAwMDAgMS4wMDAwMDBFRWNv
			bGVuZCkKL0JLQ29sb3IgKEVFYmtjMS4wMDAwMDAgMS4wMDAwMDAg
			MS4wMDAwMDAgMS4wMDAwMDBFRWJrY2VuZCkKL1RpdGxlIChFRXRp
			dGxlRUV0aXRsZWVuZCkKL01hZ25pZmljYXRpb24gKEVFbWFnMzYu
			MDAwMDAwRUVtYWdlbmQpCi9CYXNlbGluZSAoRUViYXMwLjAwMDAw
			MEVFYmFzZW5kKQo+PgplbmRvYmoKCm9iago8PAovRW5jb2Rpbmcg
			L01hY1JvbWFuRW5jb2RpbmcKL1ByZWFtYmxlIChFU2Fubm9wRVNz
			bGFzaGRvY3VtZW50Y2xhc3NbMTBwdF1FU2xlZnRicmFja2FydGlj
			bGVFU3JpZ2h0YnJhY2sKRVNzbGFzaHVzZXBhY2thZ2VbdXNlbmFt
			ZXNdRVNsZWZ0YnJhY2tjb2xvckVTcmlnaHRicmFjayAldXNlZCBm
			b3IgZm9udCBjb2xvcgpFU3NsYXNodXNlcGFja2FnZUVTbGVmdGJy
			YWNrYW1zc3ltYkVTcmlnaHRicmFjayAlbWF0aHMKRVNzbGFzaHVz
			ZXBhY2thZ2VFU2xlZnRicmFja2Ftc21hdGhFU3JpZ2h0YnJhY2sg
			JW1hdGhzCkVTc2xhc2h1c2VwYWNrYWdlW3V0ZjhdRVNsZWZ0YnJh
			Y2tpbnB1dGVuY0VTcmlnaHRicmFjayAldXNlZnVsIHRvIHR5cGUg
			ZGlyZWN0bHkgZGlhY3JpdGljIGNoYXJhY3RlcnMKRVNhbm5vcGVu
			ZCkKL0VzY2FwZWRQcmVhbWJsZSAoRVNhbm5vZXAlNUNkb2N1bWVu
			dGNsYXNzJTVCMTBwdCU1RCU3QmFydGljbGUlN0QlMEElNUN1c2Vw
			YWNrYWdlJTVCdXNlbmFtZXMlNUQlN0Jjb2xvciU3RCUyMCUyNXVz
			ZWQlMjBmb3IlMjBmb250JTIwY29sb3IlMEElNUN1c2VwYWNrYWdl
			JTdCYW1zc3ltYiU3RCUyMCUyNW1hdGhzJTBBJTVDdXNlcGFja2Fn
			ZSU3QmFtc21hdGglN0QlMjAlMjVtYXRocyUwQSU1Q3VzZXBhY2th
			Z2UlNUJ1dGY4JTVEJTdCaW5wdXRlbmMlN0QlMjAlMjV1c2VmdWwl
			MjB0byUyMHR5cGUlMjBkaXJlY3RseSUyMGRpYWNyaXRpYyUyMGNo
			YXJhY3RlcnMlMEFFU2Fubm9lcGVuZCkKL1N1YmplY3QgKEVTYW5u
			b3R6RVNhbm5vdGVuZCkKL0VzY2FwZWRTdWJqZWN0IChFU2Fubm9l
			c3pFU2Fubm9lc2VuZCkKL1R5cGUgKEVFdHlwZTRFRXR5cGVlbmQp
			Ci9Db2xvciAoRUVjb2wwLjAwMDAwMCAwLjAwMDAwMCAwLjAwMDAw
			MCAxLjAwMDAwMEVFY29sZW5kKQovQktDb2xvciAoRUVia2MxLjAw
			MDAwMCAxLjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAwMEVFYmtjZW5k
			KQovVGl0bGUgKEVFdGl0bGVFRXRpdGxlZW5kKQovTWFnbmlmaWNh
			dGlvbiAoRUVtYWczNi4wMDAwMDBFRW1hZ2VuZCkKL0Jhc2VsaW5l
			IChFRWJhczAuMDAwMDAwRUViYXNlbmQpCj4+CmVuZG9iagpzdGFy
			dHhyZWYKOTM3NAolJUVPRoAF0iwtLi9aJGNsYXNzbmFtZVgkY2xh
			c3Nlc11OU011dGFibGVEYXRhoy4wMVZOU0RhdGFYTlNPYmplY3TT
			Mwo0NTY3WE5TU3RyaW5nXE5TQXR0cmlidXRlc4AHgA6ACF8Q0lxk
			b2N1bWVudGNsYXNzWzEwcHRde2FydGljbGV9Clx1c2VwYWNrYWdl
			W3VzZW5hbWVzXXtjb2xvcn0gJXVzZWQgZm9yIGZvbnQgY29sb3IK
			XHVzZXBhY2thZ2V7YW1zc3ltYn0gJW1hdGhzClx1c2VwYWNrYWdl
			e2Ftc21hdGh9ICVtYXRocwpcdXNlcGFja2FnZVt1dGY4XXtpbnB1
			dGVuY30gJXVzZWZ1bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRp
			YyBjaGFyYWN0ZXJzCtM6CQo7PT9XTlMua2V5c6E8gAmhPoAKgA1W
			TlNGb2501EJDRApFRkdIVk5TU2l6ZVhOU2ZGbGFnc1ZOU05hbWUj
			QCgAAAAAAAAQEIALgAxWTW9uYWNv0iwtS0xWTlNGb250oksx0iwt
			Tk9cTlNEaWN0aW9uYXJ5ok4x0iwtUVJfEBJOU0F0dHJpYnV0ZWRT
			dHJpbmeiUzFfEBJOU0F0dHJpYnV0ZWRTdHJpbmfTMwo0VTY3gBCA
			DoAIUXrTWlsKXF1eVU5TUkdCXE5TQ29sb3JTcGFjZUYwIDAgMAAQ
			AYAS0iwtYGFXTlNDb2xvcqJgMdJjCmRlV05TLnRpbWUjQbm+fGuI
			zKuAFNIsLWdoVk5TRGF0ZaJnMdIKamtsWU5TLnN0cmluZ4AWUNIs
			LW5vXxAPTlNNdXRhYmxlU3RyaW5no25wMVhOU1N0cmluZ9IsLXJz
			XxAPTGF0ZXhpdEVxdWF0aW9uo3R1MV8QD0xhdGV4aXRFcXVhdGlv
			bl8QD05TTWFuYWdlZE9iamVjdNIsLXd4V05TQXJyYXmidzFfEA9O
			U0tleWVkQXJjaGl2ZXLRe3xUcm9vdIABAAgAEQAaACMALQAyADcA
			UwBZAF4AaQBwAHIAdAB2AI8AlwCiAKwAtQC+AMYA2ADeAOMA6QDu
			APAA8gD7AQQBBgEIAQoBDAEOARABEgEUARoBHwEnM44zkDOVM6Az
			qTO3M7szwjPLM9Iz2zPoM+oz7DPuNMM0yjTSNNQ01jTYNNo03DTj
			NOw08zT8NQM1DDUONRA1EjUZNR41JTUoNS01OjU9NUI1VzVaNW81
			djV4NXo1fDV+NYU1izWYNZ81oTWjNag1sDWzNbg1wDXJNcs10DXX
			Ndo13zXpNes17DXxNgM2BzYQNhU2JzYrNj02TzZUNlw2XzZxNnQ2
			eQAAAAAAAAIBAAAAAAAAAH0AAAAAAAAAAAAAAAAAADZ7
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.pdf</string>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-09-09 00:13:47 +0000</string>
	<key>Modifier</key>
	<string>Lingchen Zhu</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{365, 65}, {710, 813}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{95.475111474169026, 74.660632195440229}, {260.18099098410988, 304.97737030137398}}</string>
		<key>Zoom</key>
		<real>2.2100000381469727</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>2.2100000381469727</real>
				<real>1.8899999856948853</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
